<nav th:fragment="nav-front" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">쇼핑몰🎁</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarShop"
        aria-controls="navbarShop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarShop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" th:each="page:${cpages}">
                <a class="nav-link" th:if="${page.slug != 'home'}" th:href="@{'/' + ${page.slug}}" th:text="${page.title}"></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" th:if="${principal == null}">
            <li class="nav-item active">
                <a th:href="@{/register}" th:text="가입하기" class="nav-link"></a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/login}" th:text="로그인" class="nav-link"></a>
            </li>
        </ul>
        <form th:if="${principal != null}" th:action="@{/logout}" method="post">
            <span class="text-white" th:text="${'💦하이, ' + principal}"></span>
            <button class="btn btn-secondary ml-2">로그아웃</button>
        </form>
    </div>
</nav>

<nav th:fragment="nav-admin" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">관리자⛑</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarShop"
        aria-controls="navbarShop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarShop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" th:each="page:${cpages}">
                <a class="nav-link" th:if="${page.slug != 'home'}" th:href="@{'/' + ${page.slug}}" th:text="${page.title}"></a>
            </li>
        </ul>
        <form th:if="${principal != null}" th:action="@{/logout}" method="post">
            <span class="text-white" th:text="${'관리자⛑, ' + principal}"></span>
            <button class="btn btn-secondary ml-2">로그아웃</button>
        </form>
    </div>
</nav>